# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Environment / secrets
.env
.env.*

# IDE
.vscode/
.idea/

# Logs
*.log

# Python packaging
*.egg-info/
dist/
build/

# Generated results
results/

